DATABASES__POSTGRES__MAIN_DB__CONNECTION_STRING=Host=localhost;Port=5432;Database=opengatedb;Username=postgres;Password=postgres

# Open Telemetry
OTEL_SERVICE_NAME=opengate
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_EXPORTER_OTLP_HEADERS=api-key={api-dev}
OTEL_ATTRIBUTE_VALUE_LENGTH_LIMIT=4095
OTEL_EXPORTER_OTLP_COMPRESSION=gzip
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE=delta

APP__AUTHENTICATION__JWT__KEY=39b1c6c1-f15e-4601-a271-bbb093a7e280
APP__AUTHENTICATION__JWT__ISSUER=opengate
APP__AUTHENTICATION__JWT__AUDIENCE=opengate

# Integrations

APP__INTEGRATIONS__PROVIDERS__EMAIL_SENDERS__LOGGER__ENABLED=true # Represents if should be enabled the logger email sender. Disable this option in production since user cant see logs

## Brevo
APP__INTEGRATIONS__PROVIDERS__EMAIL_SENDERS__BREVO__BASEURL=https://api.brevo.com/v3
APP__INTEGRATIONS__PROVIDERS__EMAIL_SENDERS__BREVO__APIKEY={your-api-key}
APP__INTEGRATIONS__PROVIDERS__EMAIL_SENDERS__BREVO__SENDER__EMAIL=test@test.com
APP__INTEGRATIONS__PROVIDERS__EMAIL_SENDERS__BREVO__SENDER__NAME=opengate

## Resend
APP__INTEGRATIONS__PROVIDERS__EMAIL_SENDERS__RESEND__BASEURL=https://api.resend.com/emails
APP__INTEGRATIONS__PROVIDERS__EMAIL_SENDERS__RESEND__APIKEY={your-api-key}
APP__INTEGRATIONS__PROVIDERS__EMAIL_SENDERS__RESEND__SENDER__EMAIL=test@test.com
